/* Mobile Styles */

.nav {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    justify-content: space-around;
    align-items: right;
}

.logo {
    display: flex;
}

.banner {
    display: flex;
    align-items: center;
    flex-direction: column;
}

a {
    flex-grow: 1;
    }

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.why {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer {
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
    align-items: center;
    }

/* Media Queries */



/* Links are inline with logo */

@media (min-width: 640px) {

    header, img {
display: flex
}

header {
    flex-direction: row;
    align-items: center;
}

.logo {

    display: inline-flex;
    justify-content: center;
}

.mylinks {
    display: inline-flex;
}

.why {
    display: flex;
    flex-direction: row;
    flex-basis: 50%;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-around;
}

}

@media (min-width: 925px) {

    header, img {
display: flex
}

header {
    flex-direction: row;
    justify-content: space-between;
}

}

