/* Mobile Styles */


.nav {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    justify-content: center;
  }

#logo {
    order: -1;
    flex-basis: 100%;
}

.banner {
    display: flex;
    align-items: center;
    flex-direction: column;
}

a {
    flex-grow: 1;
    }

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.why {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer {
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
    align-items: center;
    }

/* Media Queries */


/* Links are inline with logo */

@media (min-width: 640px) {

/* header, img {
    display: flex
} */

header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#logo {
    justify-content: center;
    order: 0;
}

#mylinksleft {
    display: flex !important;
    justify-self: flex-start;
}

#mylinksright {
    display: flex !important;
    justify-self: flex-end;
}

.why {
    display: flex;
    flex-direction: row;
    flex-basis: 50%;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-around;
}

}

@media (min-width: 925px) {

    header, img {
display: flex
}

header {
    flex-direction: row;
    justify-content: space-between;
}

}

