
* {
    box-sizing: border-box;
}

.header, .nav {
    background-color: #4667eb;
}

.header {
    justify-content: space-between;
}

.nav {
    padding: .25rem;
}

a {
padding: 15px;   
margin: 5px;
background-color:#d6e04d;
border-radius: 5px;
text-align: center;

}

h1 {

font-family: 'Assistant', sans-serif;
font-size: 3rem;
color: #d6e04d;
text-align: center;

}

.banner {  
font-family: 'Assistant', sans-serif;
font-size: 3rem;
color: #d6e04d;
text-align: center;
padding: 2rem;
background-image: url("../images/P9230932.JPG");
background-size: cover;
background-repeat: no-repeat;
}

.why {
    font-family: 'Assistant', sans-serif;

}

img {
    display: block;
    max-width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}


/* Media Queries */

@media screen and (min-width: 480px) {
    
}