
* {
    box-sizing: border-box;
}

/*
.header {

Make sticky header. need to add js to react to scroll position (onscroll)

    position: fixed;
    top: 0;
}
*/

.header, .nav {
    background-color: transparent;
}

.nav {
    padding: .25rem;
    justify-content: space-around;
}

/* Hide the links inside the navigation menu (except for logo/home) */

.nav #mylinks {
    display: none;
    justify-content: space-around;
}

/* Style hamburger */

.navlinks {
    padding: auto;
    margin: 5px;
    display: flex;
    }

.nav a.icon {
    display: block;
    position: absolute;
    padding: 15px;   
    margin: 5px;
    right: 0;
    top: 0;
    background: transparent;
    /* color: #d6e04d; */
    color: #ccf381;
    font-size: 1.5rem;
}


a {
background-color:transparent;
/* border-color: #d6e04d; */
border-radius: 5px;
color: rgba(112,112,112,.6);
text-align: center;
font-family: 'Assistant', sans-serif;
text-decoration: none; /*remove underline*/
}



p {
color: rgba(112,112,112,.6);
}

h1 {

font-family: 'Assistant', sans-serif;
font-size: 1.5rem;
font-weight: bold;
/*color: #d6e04d;*/
color: #ccf381;
text-align: center;
padding: .5rem .5rem .5rem .5rem;
line-height: 2rem;


}

h2 {
   /* color:#4667eb; */
   color: #4831d4;
   font-size: 1rem;
}

.banner {  
font-family: 'Assistant', sans-serif;
font-size: 1rem;
/* color: #d6e04d; */
color: #ccf381;
text-align: center;
padding: 2rem 2rem 2rem 2rem;
background-image: url("../images/P9230932.JPG");
background-size: cover;
background-repeat: no-repeat;

}

.btn {
    color:white;
    font-size: 1rem;
    padding: 1rem 2rem 1rem 2rem;
    font-weight: bold;
    display: block;
    border-color: white;
    border-width: 2.5px;
    border-style: solid;
 }

.why {
    font-family: 'Assistant', sans-serif;

}

img  {
    max-width: 40%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: .5rem;
    padding-bottom: .5rem;
    }

.social {
    display: inline-block;
    max-width: 25%;
    margin-left: auto;
    margin-right: auto;
}

/* Media Queries */

@media screen and (min-width: 640px) {

    .nav a.icon {
        display: none;
    }

    .nav #mylinks {
        display: flex;
        justify-content: space-around;
    }
        
    .navlinks {
        padding: auto;
        margin: rem;
        display: flex;
        color: #4831d4;
        }

    a:hover {
        color: #4831d4;
        font-weight: bold;
        } 
}