
* {
    box-sizing: border-box;
    background-color: #fafafa;
}

/* Standard mobile styling (<640px)*/

.header {
/* Make sticky header*/
    position: sticky;
    top: 0;
}

.header, .nav {
    background-color: #fafafa;
    padding-top: 10px;
}

.navlinksleft, .navlinksright {
    
    }

/* Hide the links inside the navigation menu by default*/

#mylinksleft {
    display: none;
    justify-content: space-between;
    margin-top: .5em;
    flex: 1;
        }

#mylinksright {
    display: none;
    justify-content: space-between;
    margin-top: .5em;
    flex: 1;
        }

/* Style hamburger */

.nav a.icon {
    display: block;
    position: absolute;
    padding: 15px;   
    margin: 5px;
    right: 0;
    top: 0;
    background: transparent;
    color: #ccf381;
    font-size: 1.5rem;
}

a {
    background-color:transparent;
    /* border-color: #d6e04d; */
    color: rgba(112,112,112,.6);
    text-align: center;
    font-family: 'Assistant', sans-serif;
    text-decoration: none; /*remove underline*/
}

a.visited {
    color: #ccf381;
}

p {
    color: rgba(112,112,112,.6);
}

h1 {
    font-family: 'Assistant', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: transparent ;
    color: #ccf381;
    text-align: center;
    padding: .5rem .5rem .5rem .5rem;
    line-height: 2rem;
    }

h2 {
    color: #4831d4;
    font-size: 1rem;
    }

.banner {  
    font-family: 'Assistant', sans-serif;
    font-size: 1rem;
    color: #ccf381;
    text-align: center;
    padding: 2rem 2rem 2rem 2rem;
    background-image: linear-gradient(to bottom, #4831d4ab, #ccf3818f),
    url("../images/P9230932.JPG");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    border-radius: 15px 15px 0px 0px;
    /* background-blend-mode: hard-light; */
    margin-block-end: 1em;
    margin-top: 1em;
    }

.bannerreg {
    font-family: 'Assistant', sans-serif;
    font-size: 1rem;
    color: #ccf381;
    text-align: center;
    padding: 2rem 2rem 2rem 2rem;
    background-image: linear-gradient(to bottom, #4831d4ab, #ccf3818f),
    url("../images/cc\ CROSS.png");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    border-radius: 15px 15px 0px 0px;
    margin-block-end: 1em;
    margin-top: 1em;
}

.btnpurple {
    color:#4831d4;
    font-size: 1rem;
    padding: 1rem 2rem 1rem 2rem;
    font-weight: bold;
    border-color: #4831d4;
    border-width: 2.5px;
    border-style: solid;
    border-radius: 5px;
    margin-block-start: 1.5em;
    margin-block-end: 1.5em;
    }

.btn {
    color:white;
    font-size: 1rem;
    padding: 1rem 2rem 1rem 2rem;
    font-weight: bold;
    border-color: white;
    border-width: 2.5px;
    border-style: solid;
    border-radius: 5px;
    margin-block-start: 1.5em;
    margin-block-end: 1.5em;
    }

.why {
    font-family: 'Assistant', sans-serif;
    margin-left: 1rem;
    margin-bottom: 2rem;
    }

.reasons {
    margin: 10px;
    padding: 10px;
    min-width: 250px;
}

img  {
    max-width: 25%;
    height: auto;
    margin-left: 35%;
    margin-right: 35%;
    padding-top: .75rem;
    padding-bottom: .5rem;
        }

.logo {
    filter: hue-
}

.social {
    max-width: 15%;
    padding: .25em;
      }

footer {
    font-size: 2em;
    max-width: 40%;
    }   

.contact {
    font-family: 'Assistant', sans-serif;
}

/* Media Queries */

@media screen and (min-width: 640px) {

    h1 {
        font-family: 'Assistant', sans-serif;
        font-size: 3rem;
        padding: .5rem .5rem .5rem .5rem;
        line-height: 4rem;
        }
    
    
    .nav a.icon {
        display: none;
    }

    img  {
        max-width: 25%;
        height: auto;
        margin-left: 3rem;
        margin-right: 3rem;
        padding-top: .75rem;
        padding-bottom: .5rem;
            }

    #mylinksleft {
          justify-content: space-between;
          align-items: center;
          
    }

    #mylinksright {
        justify-content: space-between;
        align-items: center;
  }
        
    .navlinks {
        padding: .25rem;
        margin: 0rem;
        color: #4831d4;
        font-weight: bold;
        text-align: center;
        }

    .navlinks:hover {
        color: #ccf381;
        font-weight: bolder;
        } 
    
    .why {
        margin: 0em 2em 2em 2em;
      
    }


@media screen and (min-width: 925px) {
    .why {
        font-family: 'Assistant', sans-serif;
        margin: 0em 2em 2em 2em
            }

    .reasons {
        font-family: 'Assistant', sans-serif;
        flex-grow: 0                ;
        margin: 0px;
        padding: .5em;
        min-width: 100px;
    }
    }